{% extends "base.html.twig" %}

{% block title %} Ingrédient: {{ ingredient.nom }} {% endblock %} 

{% block body %}

	<h1 class='mt-4'> Modification de l'ingrédient: {{ ingredient.nom }} </h1>

	{{ form_start(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-primary mt-4" type="submit"> Valider </button>
	{{ form_end(form) }}

{% endblock %}