{% extends 'base.html.twig' %}

{% block title %}
	Mes ingrédients
{% endblock %}

{% block body %}

    {{ include('partials/_message.html.twig') }}

	<div class="container">
		<h1 clas='mt-4'> Mes ingrédients </h1>

        <a href="{{ path('ingredient_new') }}" class="btn btn-primary"> Ajouter un ingrédient </a>
         
        {% if ingredients.items is not empty %}

            <div class="count mt-4">
                {% set var1=0 %}
                il y a {{ ingredients.getTotalItemCount }} ingrédients au total.
            </div>

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Afficher</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr  class="table table-primary">
                            <th scope="row">{{ ingredient.id }}</th>
                            <th scope="row">{{ ingredient.user.nom|upper }}</th>
                            <td> <a href="{{ path('ingredient_show',{id: ingredient.id}) }}"> {{ ingredient.nom }} </a> </td>
                            <td> {{ ingredient.prix|number_format(2, '.', ',') }} €</td>
                            <td> {{ ingredient.createdAt|date('d/m/Y') }}</td>
                            <td> <a href="{{ path('ingredient_show',{id: ingredient.id}) }}" class="btn btn-success"> Afficher </a> </td>
                            <td> <a href="{{ path('ingredient_edit',{id: ingredient.id}) }}" class="btn btn-info"> Modifier </a> </td>
                            <td>
                                <a href="{{ path('ingredient_delete', {id: ingredient.id}) }}" class="btn btn-warning"> Supprimer </a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(ingredients) }}
            </div>

        {% else %}
            <h2 class="mt-4"> Aucun ingrédient trouvé </h2>
        {% endif %}
	</div>

{% endblock %}
