{% extends 'base.html.twig' %}

{% block title %}
	Mes recettes
{% endblock %}

{% block body %}

    {{ include('partials/_message.html.twig') }}

	<div class="container">
		<h1 class='mt-4'> Mes recettes </h1>

        <a href="{{ path('recette_new') }}" class="btn btn-primary"> Créer une recette </a>
        <a href="{{ path('recette_publique') }}" class="btn btn-info"> Recette publique </a>

        {% if recettes.items is not empty %}

            <div class="count mt-4">
                il y a {{ recettes.getTotalItemCount }} recettes au total.
            </div>

            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix en €</th>
                        <th scope="col">Difficulté</th>
                        <th scope="col">Date de création</th>
                        <th scope="col"> Publique </th>
                        <th scope="col">Afficher</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recette in recettes %}
                        <tr  class="table table-primary">
                            <th scope="row">{{ recette.id }}</th>
                            <th>{{ app.user.nom|upper }}</th>
                            <td> <a href="{{ path('recette_show', {id: recette.id}) }}"> {{ recette.nom }} </a> </td>
                            <td> {{ (recette.prix == null) ? "Non renseigné" : recette.prix|number_format(2, '.', ',')  }} </td>
                            <td> {{ (recette.difficulte == null) ? "Non renseigné" : recette.difficulte }} </td>
                            <td> {{ recette.createdAt|date('d/m/Y') }} </td>
                            <td> {{ (recette.isPublique == true) ? "<span class='bg-success'> OUI </span>" : "<span class='bg-danger'> NON </span>" }} </td>
                            <td> <a href="{{ path('recette_show', {id: recette.id}) }}" class="btn btn-success"> Afficher </a> </td>
                            <td> <a href="{{ path('recette_edit', {id: recette.id}) }}" class="btn btn-info"> Modifier </a> </td>
                            <td>
                                <a href="{{ path('recette_delete', {id: recette.id}) }}" class="btn btn-warning"> Supprimer </a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(recettes) }}
            </div>

        {% else %}
            <h2> Aucune recette trouvé </h2>
        {% endif %}
	</div>

{% endblock %}
